<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectpacto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectPacto">
        <activity
            android:name=".HotelOrderActivity4"
            android:exported="false" />
        <activity
            android:name=".HotelOrderActivity3"
            android:exported="false" />
        <activity
            android:name=".HotelOrderActivity2"
            android:exported="false" />
        <activity
            android:name=".HotelOrderActivity1"
            android:exported="false" />
        <activity
            android:name=".PlaneOrderActivity3"
            android:exported="false" />
        <activity
            android:name=".SortPlaneTicket"
            android:exported="false" />
        <activity
            android:name=".PlaneOrderActivity2"
            android:exported="false" />
        <activity
            android:name=".PlaneOrderActivity1"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <activity
            android:name=".BookingActivity"
            android:exported="false" />
        <activity
            android:name=".TrankasiActivity"
            android:exported="false" />
        <activity
            android:name=".RealMainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>